[submodule "html/copy/jquery-bonsai"]
	path = html/copy/jquery-bonsai
	url = https://github.com/BSVino/jquery-bonsai.git
[submodule "html/copy/jquery-cookie"]
	path = html/copy/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "htmlmin"]
	path = htmlmin
	url = https://github.com/mankyd/htmlmin.git
