body {
	background: #f9f9f9;
	
	font-family: Roboto;
	font-size: 14px;
	line-height: 150%;
}

pre {
	margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 5px;
}

h1 {
	font-size: 28px;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 30px;
	margin-bottom: 10px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

h3 {
	font-size: 20px;
	font-weight: bold;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

h5 {
	font-size: 16px;
	font-weight: bold;
}

h6 {
	font-size: 14px;
	font-weight: bold;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

em {
	font-style: italic;
}

dt {
	float: left;
	width: 100px;
	clear: both;
	margin-top: 10px;
}

dd {
	float: left;
	width: 540px;
	margin-top: 10px;
}

dl {
	width: 650px;
	clear: both;
	display: table;
}

a {
	color: #1364c4;
}

a:visited {
	color: #13a5c4;
}

a:hover {
	color: #358acc;
}

li {
	margin-left: 10px;
}

#everything {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#toc {
	width: 260px;
	float: left;
	margin: 20px;
}

#khronos {
	width: 610px;
	float: left;
	margin: 20px;
}

.programlisting, code {
	font-family: 'Source Code Pro';
}

.function {
	font-weight: bold;
	color: #333;
}

.constant {
	color: #6f008a;
}

#versions table {
	width: 100%;
}

#versions_container {
	float: left;
	display: block;
	width: 100px;
}

#api {
	padding: 2px;
	display: block;
	float: left;
}

#command_versions {
	float: right;
}

#opengl_name {
	width: 150px;
	display: block;
	float: left;
	margin-top: 2px;
}

#command_categories, #command_categories a {
	text-decoration: none;
}

.disabled, .disabled a {
	color: #999;
	text-decoration: none;
}

#improvepage {
	border-top: 1px solid black;
	width: 100%;
	text-align: center;
}

#Copyright h2 {
	display: none;
}

#Copyright {
	background-color: #c6c6c6;
	font-size: 11px;
	border: 1px solid black;
	padding: 10px;
}

#Copyright p {
	margin: 0px;
	padding: 0px;
}

#footer {
	margin-top: 50px;
	padding-bottom: 10px;
	border-top: 1px solid gray;
	background-color: #ccc;
	width: 100%;
	font-size: 10px;
	text-align: center;
}