@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://fonts.gstatic.com/s/robotocondensed/v10/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://fonts.gstatic.com/s/sourcecodepro/v5/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

body {
	font-family: Roboto;
	font-size: 14px;
	line-height: 150%;
}

pre {
	margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 5px;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

h3 {
	font-size: 20px;
	font-weight: bold;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

h5 {
	font-size: 16px;
	font-weight: bold;
}

h6 {
	font-size: 14px;
	font-weight: bold;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

dt {
	float: left;
	width: 100px;
	clear: both;
	margin-top: 10px;
}

dd {
	float: left;
	width: 540px;
	margin-top: 10px;
}

dl {
	width: 650px;
	clear: both;
	display: table;
}

li {
	margin-left: 10px;
}

a {
	text-decoration: none;
}

.ui-selectmenu-open ul .ui-state-focus {
	border: 0px;
}

.ui-autocomplete .ui-state-focus {
	border: 0px;
}

#header {
	width: 100%;
	background-color: #aaa;
	height: 55px;
	border-bottom: 1px solid #666;
}

#header_inner {
	width: 950px;
	height: 55px;
	margin-left: auto;
	margin-right: auto;
}

#search_div {
	float: right;
	margin: 18px;
	margin-top: 8px;
}

#search_button {
	padding: 0em 0.3em;
	margin-left: 5px;
	position: relative;
	top: -1px;
}

#search_versions-button {
	position: relative;
	top: 8px;
}

#styles {
	float: right;
	color: black;
}

#everything {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#toc {
	width: 260px;
	float: left;
	margin: 20px;
}

#khronos {
	width: 610px;
	float: left;
	margin: 20px;
}

.programlisting, code {
	font-family: 'Source Code Pro';
}

.function {
	font-weight: bold;
}

.current {
	font-weight: bold;
}

#versions table {
	width: 100%;
}

#versions_container {
	float: left;
	display: block;
	width: 120px;
	text-align: right;
}

#api {
	padding: 2px;
	margin-left: 8px;
	float: left;
}

#command_versions {
	float: right;
}

#opengl_name {
	width: 125px;
	display: block;
	float: left;
	margin-top: 2px;
	font-size: 16px;
}

#command_categories, #command_categories a {
	text-decoration: none;
}

.disabled, .disabled a {
	text-decoration: none;
}

.hidden {
	display: none;
}

#command_title {
	margin-top: 10px;
	margin-bottom: 30px;
}

.refnamediv h2 {
	display: none;
}

#improvepage {
	width: 100%;
	text-align: center;
}

#Copyright h2 {
	display: none;
}

#Copyright {
	font-size: 11px;
	padding: 10px;
}

#Copyright p {
	margin: 0px;
	padding: 0px;
}

#footer {
	margin-top: 50px;
	padding-bottom: 10px;
	width: 100%;
	font-size: 10px;
	text-align: center;
}

#front_page {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 180px;
	text-align: center;
}

.apibuttons {
	float: left;
	font-size: 20px;
	margin-left: 20px;
}

#es_api {
	width: 150px;
}

#gl_api {
	width: 550px;
}

#allapi {
	width: 50px;
}

#buttonpanel {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}

#frontsearch {
	font-size: 22px;
}

#frontsearch_button {
	font-size: 22px;
	padding: 0em 0.3em;
	margin-left: 5px;
	position: relative;
	top: -5px;
}