body {
	background: #191919;
	color: #ddd;
}

a {
	color: #3a85de;
}

a:visited {
	color: #589cec;
}

a:hover {
	color: #71acf1;
}

.function {
	color: #ccc;
	background-color: #252525;
}

.constant {
	color: #ba27de;
}

.disabled, .disabled a, a.disabled {
	color: #666;
}

.example .programlisting {
	background-color: #252525;
}

.ckeyword {
	color: #52a471;
}

.codestring {
	color: #dd1144;
}

.codecomment, .codecomment .ckeyword, .codecomment .codestring, .codecomment .constant {
	color: #999999;
}

#improvepage {
	border-top: 1px solid white;
}

#Copyright {
	background-color: #393939;
	border: 1px solid white;
}

#footer {
	border-top: 1px solid gray;
	background-color: #333;
}

.ui-menu-item {
	color: #ddd;
	background-color: #111;
}

.ui-selectmenu-open ul .ui-state-focus, .ui-state-default {
	color: #fff;
	background-color: #222;
}

.ui-autocomplete .ui-state-focus, .ui-state-default {
	color: #fff;
	background-color: #222;
}

#buttonpanel div .ui-state-default {
	background-color: #222;
}

#buttonpanel div .ui-state-active {
	background-color: #444;
}

#front_page img {
	border: 1px solid #fff;
	background: #ccc;
}