body {
	background: #f9f9f9;
	color: #000;
}

a {
	color: #1364c4;
}

a:visited {
	color: #13a5c4;
}

a:hover {
	color: #358acc;
}

.function {
	color: #333;
	background-color: #e5e5e5;
}

.constant {
	color: #6f008a;
}

.disabled, .disabled a, a.disabled {
	color: #999;
}

.example .programlisting {
	background-color: #e5e5e5;
}

#improvepage {
	border-top: 1px solid black;
}

#Copyright {
	background-color: #c6c6c6;
	border: 1px solid black;
}

#footer {
	border-top: 1px solid gray;
	background-color: #ccc;
}

.ui-menu-item {
	background-color: #eee;
}

.ui-selectmenu-open ul .ui-state-focus, .ui-state-default {
	background-color: #ddd;
}

.ui-autocomplete .ui-state-focus, .ui-state-default {
	background-color: #ddd;
}

#buttonpanel div .ui-state-default {
	background-color: #ddd;
}

#buttonpanel div .ui-state-active {
	background-color: #aaa;
}

