body {
	background: #191919;
	color: #ddd;
}

a {
	color: #1364c4;
}

a:visited {
	color: #13a5c4;
}

a:hover {
	color: #358acc;
}

.function {
	color: #ccc;
}

.disabled, .disabled a, a.disabled {
	color: #666;
}

#improvepage {
	border-top: 1px solid white;
}

#Copyright {
	background-color: #393939;
	border: 1px solid white;
}

#footer {
	border-top: 1px solid gray;
	background-color: #333;
}

.ui-menu-item {
	color: #ddd;
	background-color: #111;
}

.ui-selectmenu-open ul .ui-state-focus, .ui-state-default {
	color: #fff;
	background-color: #222;
}

.ui-autocomplete .ui-state-focus, .ui-state-default {
	color: #fff;
	background-color: #222;
}

